<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSS</pattern>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <logLevel/>
                <version/>
                <message/>
                <loggerName/>
                <logLevelValue/>
                <stackTrace/>
                <stackHash/>
            </providers>
        </encoder>
    </appender>

    <logger name="io.netty" level="INFO"/>
    <logger name="io.grpc.netty" level="INFO"/>

    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
